<%- include('../general/headerAdmin') %>;

    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <!-- Registrationsection start -->
    <section class="account" id="account">
      <div class="admin_account">
        <h1>Account Admin</h1>
      </div>
      <div class="search_account">
        <div class="search_account-selection">
          <div class="icon_search_account-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput_account"
          onkeyup="myFunctionAccount()"
          placeholder="Search accout...."
        />
      </div>
      <div class="account_table_data">
        <table id="account_table">
          <thead>
            <tr class="header">
              <th>userID</th>
              <th>Password</th>
              <th>isAdmin</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>22028113</td>
              <td>matkhau</td>
              <td>0</td>
              <td>
                <i
                  id="icon_add_account"
                  class="fa-regular fa-pen-to-square"
                ></i>
              </td>
              <td>
                <i
                  onclick="deletetable_account(this)"
                  id="icon_delete_account"
                  class="fa-solid fa-trash"
                ></i>
              </td>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
            <tr>
              <td id="userID-<%= i %>"><%= data[i].userID %></td>
              <td id="password-<%= i %>"><%= data[i].password %></td>
              <td id="isAdmin-<%= i %>"><%= data[i].isAdmin %></td>
              <td>
                <i
                  onclick="openEditTab(this)"
                  id="icon_add_account_<%= i %>"
                  class="icon_add_account fa-regular fa-pen-to-square"
                ></i>
              </td>
              <td>
                <i
                  onclick="delete_account(this)"
                  id="icon_delete_account_<%= i %>"
                  class="icon_delete_account fa-solid fa-trash"
                ></i>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button id="addtable_account_admin" class="button_add_account_admin">
          Add
        </button>
      </div>
      <!-- button save -->

      <!-- danh sach mon da dang ki -->
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <!-- Modal_add_course Layout start -->
    <div action="" id="modal_account" class="modal_account">
      <div class="modal_account__overlay"></div>
      <div class="modal_account__body">
        <div class="form_account_add">
          <div class="form_account_add__container">
            <div class="form_account_add_header">
              <h3 class="form_account_add_heading">Add Account</h3>
            </div>
            <div class="form_account_add_body">
              <div class="form_account_add_group">
                <input
                  type="text"
                  id="userID_addInput"
                  class="form_account_add_Input"
                  placeholder="Enter new userID"
                />
              </div>
              <div class="form_account_add_group">
                <input
                  type="text"
                  id="password_addInput"
                  class="form_account_add_Input"
                  placeholder="Enter new password"
                />
              </div>
              <div class="form_account_add_group">
                <input
                  type="text"
                  id="isAdmin_addInput"
                  class="form_account_add_Input"
                  placeholder="Enter new role (0 for user and 1 for admin)"
                />
              </div>
            </div>
            <div class="form_account_add_btn">
              <button
                onclick="addData_Account()"
                id="addbutton_account"
                class="button btn--disable"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_add_account"></i>
    </div>
    <!-- Modal_add_registration Layout End -->

    <!-- Modal_edit_course Layout Start -->
    <div action="" id="modal_1_account" class="modal_1_account">
      <div class="modal_1_account__overlay"></div>
      <div class="modal_1_account__body">
        <div class="form_account_edit">
          <div class="form_account_edit__container">
            <div class="form_account_edit_header">
              <h3 class="form_account_edit_heading">Edit Account</h3>
            </div>
            <div class="form_account_edit_body">
              <div class="form_account_edit_group">
                <input
                  type="text"
                  id="userID_editInput"
                  class="form_account_edit_Input"
                  placeholder="Enter new userID"
                />
              </div>
              <div class="form_account_edit_group">
                <input
                  type="text"
                  id="password_editInput"
                  class="form_account_edit_Input"
                  placeholder="Enter new password"
                />
              </div>
              <div class="form_account_edit_group">
                <input
                  type="text"
                  id="isAdmin_editInput"
                  class="form_account_edit_Input"
                  placeholder="Choose role"
                />
              </div>
            </div>
            <div class="form_account_edit_btn">
              <button
                onclick="editData_Account()"
                id="updatebutton_account"
                class="button btn--disable"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_edit_account"></i>
    </div>
    <!-- Modal_edit_course Layout End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/adminPages/account.js"></script>
  </body>
</html>
