<%- include('../general/headerAdmin') %>;
    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <!-- Registrationsection start -->
    <section class="course" id="course">
      <div class="admin_course">
        <h1>Course Admin</h1>
      </div>
      <div class="search_course">
        <div class="search_course-selection">
          <div class="icon_search_course-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput_course"
          onkeyup="myFunctionCourse()"
          placeholder="Search course...."
        />
      </div>
      <div class="course_table_data">
        <table id="course_table">
          <thead>
            <tr class="header">
              <th>CourseId</th>
              <th>Title</th>
              <th>Credit</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Co So Du Lieu</td>
              <td>4</td>
              <td>
                <i id="icon_add_course" class="fa-regular fa-pen-to-square"></i>
              </td>
              <td>
                <i
                  onclick="deletetable_course(this)"
                  id="icon_delete_course"
                  class="fa-solid fa-trash"
                ></i>
              </td>
              <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                  <td id="courseID-<%= i %>"><%= data[i].courseID %></td>
                  <td id="title-<%= i %>"><%= data[i].title %></td>
                  <td id="credits-<%= i %>"><%= data[i].credits %></td>
                  <td>
                    <i
                      onclick="openEditTab(this)"
                      id="icon_add_course_<%= i %>"
                      class="icon_add_course fa-regular fa-pen-to-square"
                    ></i>
                  </td>
                  <td>
                    <i
                      onclick="delete_course(this)"
                      id="icon_delete_course_<%= i %>"
                      class="icon_delete_course fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
              <% } %>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button id="addtable_course_admin" class="button_add_course_admin">
          Add
        </button>
      </div>
      <!-- button save -->
      <!-- danh sach mon da dang ki -->
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <!-- Modal_add_course Layout start -->
    <div action="" id="modal_course" class="modal_course">
      <div class="modal_course__overlay"></div>
      <div class="modal_course__body">
        <div class="form_course_add">
          <div class="form_course_add__container">
            <div class="form_course_add_header">
              <h3 class="form_course_add_heading">Add course</h3>
            </div>
            <div class="form_course_add_body">
              <div class="form_course_add_group">
                <input
                  type="text"
                  id="courseID_addInput"
                  class="form_course_add_Input"
                  placeholder="Enter new courseId"
                />
              </div>
              <div class="form_course_add_group">
                <input
                  type="text"
                  id="title_addInput"
                  class="form_course_add_Input"
                  placeholder="Enter new title"
                />
              </div>
              <div class="form_course_add_group">
                <input
                  type="text"
                  id="credits_addInput"
                  class="form_course_add_Input"
                  placeholder="Enter new credit"
                />
              </div>
            </div>
            <div class="form_course_add_btn">
              <button
                onclick="addData_Course()"
                id="addbutton_course"
                class="button btn--disable"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_add_course"></i>
    </div>
    <!-- Modal_add_registration Layout End -->

    <!-- Modal_edit_course Layout Start -->
    <div action="" id="modal_1_course" class="modal_1_course">
      <div class="modal_1_course__overlay"></div>
      <div class="modal_1_course__body">
        <div class="form_course_edit">
          <div class="form_course_edit__container">
            <div class="form_course_edit_header">
              <h3 class="form_course_edit_heading">Edit course</h3>
            </div>
            <div class="form_course_edit_body">
              <div class="form_course_edit_group">
                <input
                  type="text"
                  id="courseID_editInput"
                  class="form_course_edit_Input"
                  placeholder="Enter new courseId"
                />
              </div>
              <div class="form_course_edit_group">
                <input
                  type="text"
                  id="title_editInput"
                  class="form_course_edit_Input"
                  placeholder="Enter new course"
                />
              </div>
              <div class="form_course_edit_group">
                <input
                  type="text"
                  id="credits_editInput"
                  class="form_course_edit_Input"
                  placeholder="Enter new credit"
                />
              </div>
            </div>
            <div class="form_course_edit_btn">
              <button
                onclick="editData_Course()"
                id="updatebutton_course"
                class="button btn--disable"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_edit_course"></i>
    </div>
    <!-- Modal_edit_course Layout End -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/adminPages/course.js"></script>
  </body>
</html>
