<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Section Admin</title>
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <!-- header strart -->
    <header>
      <a href="#" class="logo"
        ><i class="fas-fa-untensils"
          ><img src="../../assets/imgs/logo.png" alt="" />ScheduleUet</i
        ></a
      >
      <nav class="navbar">
        <a href="/admin/courses">Course</a>
        <a href="/admin/sections">Section</a>
        <a href="/admin/teachers">Teacher</a>
        <a href="/admin/materials">Study material</a>
        <a href="/admin/accounts">Account</a>
      </nav>

      <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <div class="dropdown">
          <i class="fa-regular fa-user" id="user-icon"></i>
          <div class="dropdown-content">
            <a href="/logout"
              >Logout
              <i
                id="log-out_icon"
                class="fa-solid fa-arrow-right-from-bracket"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </header>

    <form action="" id="search-form">
      <input
        type="search"
        placeholder="search here..."
        name=""
        id="search-box"
      />
      <label for="search-box" class="fas fa-search"></label>
      <i class="fas fa-times" id="close"></i>
    </form>
    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <!-- Registrationsection start -->
    <section class="registration" id="registration">
      <div class="search_registration">
        <div class="search_registration-selection">
          <div class="icon_search-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput"
          onkeyup="myFunction()"
          placeholder="Search course...."
        />
      </div>
      <div class="section_table_data">
        <table id="myTable_data">
          <thead>
            <tr class="header">
              <th>CourseID</th>
              <th>SectionID</th>
              <th>Title</th>
              <th>Location</th>
              <th>Week day</th>
              <th>Start</th>
              <th>End</th>
              <th>TeacherID</th>
              <th>Capacity</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <td id="courseID-<%= i %>"><%= data[i].courseID %></td>
                <td id="sectionID-<%= i %>"><%= data[i].sectionID %></td>
                <td id="title-<%= i %>"><%= data[i].title %></td>
                <td id="location-<%= i %>"><%= data[i].location %></td>
                <td id="day-<%= i %>"><%= data[i].day %></td>
                <td id="start-<%= i %>"><%= data[i].start %></td>
                <td id="end-<%= i %>"><%= data[i].end %></td>
                <td id="teacherID-<%= i %>"><%= data[i].teacherID %></td>
                <td id="capacity-<%= i %>"><%= data[i].capacity %></td>
                <td>
                  <i 
                    onclick="openEditTab(this)"
                    id="icon_add_section_<%= i %>" 
                    class="icon_add_section fa-regular fa-pen-to-square">
                  </i>
                </td>
                <td>
                  <i
                    onclick="delete_section(this)"
                    id="icon_delete_section_<%= i %>"
                    class="icon_delete_section fa-solid fa-trash"
                  ></i>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button id="addtable_section_admin" class="button_add">Add</button>
      </div>
      <!-- button save -->

      <!-- danh sach mon da dang ki -->
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <!-- Modal_add_registration Layout start -->
    <div action="" id="modal_section" class="modal_section">
      <div class="modal__overlay"></div>
      <div class="modal__body">
        <div class="form_add">
          <div class="form_add__container">
            <div class="form_add_header">
              <h3 class="form_add_heading">Add Sections</h3>
            </div>
            <div class="form_add_body">
              <div class="form_add_group">
                <input
                  type="text"
                  id="courseID_addInput"
                  class="form_add_Input"
                  placeholder="Enter new courseId"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="sectionID_addInput"
                  class="form_add_Input"
                  placeholder="Enter new sectionID"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="location_addInput"
                  class="form_add_Input"
                  placeholder="Enter new location"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="day_addInput"
                  class="form_add_Input"
                  placeholder="Enter new weekday"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="start_addInput"
                  class="form_add_Input"
                  placeholder="Enter new start period"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="end_addInput"
                  class="form_add_Input"
                  placeholder="Enter new end period"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="teacherID_addInput"
                  class="form_add_Input"
                  placeholder="Enter new teacherID"
                />
              </div>
              <div class="form_add_group">
                <input
                  type="text"
                  id="capacity_addInput"
                  class="form_add_Input"
                  placeholder="Enter new capacity"
                />
              </div>
            </div>
            <div class="form_add_btn">
              <button
                onclick="addData_Section()"
                id="addbutton_regristration"
                class="button btn--disable"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_add_section"></i>
    </div>
    <!-- Modal_add_registration Layout End -->

    <!-- Modal_edit_registration Layout start -->
    <div
      action=""
      id="modal_1_section"
      class="modal_1_section w3-modal-content w3-animate-zoom"
    >
      <div class="modal_1__overlay"></div>
      <div class="modal_1__body">
        <div class="form_add_1">
          <div class="form_add_1__container">
            <div class="form_add_1_header">
              <h3 class="form_add_1_heading">Edit sections</h3>
            </div>
            <div class="form_add_1_body">
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="courseID_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new CourseId"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="sectionID_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Course"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="location_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Credit"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="day_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Detail"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="start_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Day"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="end_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Teacher"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="teacherID_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Room"
                />
              </div>
              <div class="form_add_1_group">
                <input
                  type="text"
                  id="capacity_editInput"
                  class="form_add_1_Input"
                  placeholder="Enter new Room"
                />
              </div>
            </div>
            <div class="form_add_1_btn">
              <button
                onclick="editData_Section()"
                id="editbutton_regristration"
                class="button btn--disable"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_edit_section"></i>
    </div>
    <!-- Modal_edit_registration Layout End -->
    <!-- Registrationsection end ! -->

    <!-- Modal_edit_registration Layout End -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->

    <!-- study_material end !-->

    <!-- footer section  start -->

    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/adminPages/section.js"></script>
  </body>
</html>
