<%- include('../general/headerAdmin') %>;
    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <!-- Registrationsection start -->
    <section class="teacher" id="teacher">
      <div class="admin_teacher">
        <h1>Teacher Admin</h1>
      </div>
      <div class="search_teacher">
        <div class="search_teacher-selection">
          <div class="icon_search_teacher-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput_teacher"
          onkeyup="myFunctionTeacher('<%= JSON.stringify(data) %>', this)"
          placeholder="Search teacher...."
        />
      </div>
      <div class="teacher_table_data">
        <table id="teacher_table">
          <thead>
            <tr class="header">
              <th>TeacherId</th>
              <th>Name</th>
              <th>Email</th>
              <th>Facucity</th>
              <th>Role</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>NVT</td>
              <td>22028182@vnu.edu.vn</td>
              <td>FIT</td>
              <td>nan</td>
              <td>
                <i
                  id="icon_add_teacher"
                  class="fa-regular fa-pen-to-square"
                ></i>
              </td>
              <td>
                <i
                  onclick="deletetable_teacher(this)"
                  id="icon_delete_teacher"
                  class="fa-solid fa-trash"
                ></i>
              </td>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <td id="teacherID-<%= i %>"><%= data[i].teacherID %></td>
                <td id="name-<%= i %>"><%= data[i].name %></td>
                <td id="email-<%= i %>"><%= data[i].email %></td>
                <td id="faculty-<%= i %>"><%= data[i].faculty %></td>
                <td id="role-<%= i %>"><%= data[i].role %></td>
                <td>
                  <i
                    onclick="openEditTab(this)"
                    id="icon_add_teacher_<%= i %>"
                    class="icon_add_teacher fa-regular fa-pen-to-square"
                  ></i>
                </td>
                <td>
                  <i
                    onclick="delete_teacher(this)"
                    id="icon_delete_teacher_<%= i %>"
                    class="icon_delete_teacher fa-solid fa-trash"
                  ></i>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button id="addtable_teacher_admin" class="button_add_teacher_admin">
          Add
        </button>
      </div>
      <!-- button save -->

      <!-- danh sach mon da dang ki -->
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <div action="" id="modal_teacher" class="modal_teacher">
      <div class="modal_teacher__overlay"></div>
      <div class="modal_teacher__body">
        <div class="form_teacher_add">
          <div class="form_teacher_add__container">
            <div class="form_teacher_add_header">
              <h3 class="form_teacher_add_heading">Add teacher</h3>
            </div>
            <div class="form_teacher_add_body">
              <div class="form_teacher_add_group">
                <input
                  type="text"
                  id="teacherID_addInput"
                  class="form_teacher_add_Input"
                  placeholder="Enter new teacherId"
                />
              </div>
              <div class="form_teacher_add_group">
                <input
                  type="text"
                  id="teacherName_addInput"
                  class="form_teacher_add_Input"
                  placeholder="Enter new teacher name"
                />
              </div>
              <div class="form_teacher_add_group">
                <input
                  type="text"
                  id="teacherEmail_addInput"
                  class="form_teacher_add_Input"
                  placeholder="Enter new email"
                />
              </div>
              <div class="form_teacher_add_group">
                <input
                  type="text"
                  id="teacherFaculty_addInput"
                  class="form_teacher_add_Input"
                  placeholder="Enter new facucity"
                />
              </div>
              <div class="form_teacher_add_group">
                <input
                  type="text"
                  id="teacherRole_addInput"
                  class="form_teacher_add_Input"
                  placeholder="Enter new role"
                />
              </div>
            </div>
            <div class="form_teacher_add_btn">
              <button
                onclick="addData_Teacher()"
                id="addbutton_teacher"
                class="button btn--disable"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_add_teacher"></i>
    </div>
    <!-- Modal_add_registration Layout End -->

    <!-- Modal_edit_course Layout Start -->
    <div action="" id="modal_1_teacher" class="modal_1_teacher">
      <div class="modal_1_teacher__overlay"></div>
      <div class="modal_1_teacher__body">
        <div class="form_teacher_edit">
          <div class="form_teacher_edit__container">
            <div class="form_teacher_edit_header">
              <h3 class="form_teacher_edit_heading">Edit teacher</h3>
            </div>
            <div class="form_teacher_edit_body">
              <div class="form_teacher_edit_group">
                <input
                  type="text"
                  id="teacherID_editInput"
                  class="form_teacher_edit_Input"
                  placeholder="Enter new teacherId"
                />
              </div>
              <div class="form_teacher_edit_group">
                <input
                  type="text"
                  id="teacherName_editInput"
                  class="form_teacher_edit_Input"
                  placeholder="Enter new name"
                />
              </div>
              <div class="form_teacher_edit_group">
                <input
                  type="text"
                  id="teacherEmail_editInput"
                  class="form_teacher_edit_Input"
                  placeholder="Enter new email"
                />
              </div>
              <div class="form_teacher_edit_group">
                <input
                  type="text"
                  id="teacherFaculty_editInput"
                  class="form_teacher_edit_Input"
                  placeholder="Enter new facucity"
                />
              </div>
              <div class="form_teacher_edit_group">
                <input
                  type="text"
                  id="teacherRole_editInput"
                  class="form_teacher_edit_Input"
                  placeholder="Enter new role"
                />
              </div>
            </div>
            <div class="form_teacher_edit_btn">
              <button
                onclick="editData_Teacher()"
                id="updatebutton_teacher"
                class="button btn--disable"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-times" id="close_edit_teacher"></i>
    </div>
    <!-- Modal_edit_course Layout End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/adminPages/teacher.js"></script>
  </body>
</html>
