<%- include('../general/headerUser') %>;
    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->

    <!-- Registrationsection end ! -->

    <!-- Modal_edit_registration Layout End -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->
    <section class="study_material" id="study_material">
      <h1>Material God</h1>
      
      <div class="search_and_filter_material">
        <div class="search_material">
            <div class="search_material-selection">
                <div class="icon_material-selection">
                    <i onclick="search_Material()" class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <input type="text" id="myInput_material" placeholder="Search material....">
        </div>
        <div class="filer_material">
            <button onclick="myFunctionFilter()" class="filter_btn">Filter
                <i class="fa-solid fa-filter"></i> </button>
            <div id="myFilter_content" class="filter_content">
              <a><input id="courseID_checkbox" class="searchCheckBox" type="checkbox">courseId</a>
              <a><input id="materialID_checkbox" class="searchCheckBox" type="checkbox">materialID</a>
              <a><input id="name_checkbox" class="searchCheckBox" type="checkbox">name</a>
              <a><input id="courseTitle_checkbox" class="searchCheckBox" type="checkbox">courseTitle</a>
              <a><input id="author_checkbox" class="searchCheckBox" type="checkbox">author</a>
              <a><input id="publisher_checkbox" class="searchCheckBox" type="checkbox">publisher</a>
              <a><input id="publishYear_checkbox" class="searchCheckBox" type="checkbox">publishYear</a>
            </div>
        </div>  
    </div>


      <div class="material_table_data">
        <table id="myTable_data_material">
          <thead>
            <tr class="header">
              <th>courseID</th>
              <th>materialID</th>
              <th>name</th>
              <th>link</th>
              <th>courseTitle</th>
              <th>author</th>
              <th>publisher</th>
              <th>publishYear</th>
            </tr>
          </thead>
          <tbody>
              
              <%
              for (const [i, userMaterial] of Object.entries(userMaterials.data)) {
                if(userMaterial.name != 'nan' || userMaterial.link != 'nan'){
              %>
              <tr>
                <td id="courseID-<%= i %>"><%= userMaterial.courseID %></td>
                <td id="materialID-<%= i %>"><%= userMaterial.materialID %></td>
                <td id="name-<%= i %>"><%= userMaterial.name %></td>
                <% if(userMaterial.link == 'nan') { %>
                  <td id="link-<%= i %>">Không có đường link tham khảo</td>
                <% } else { %>
                  <td id="link-<%= i %>"><a href="<%= userMaterial.link %>">Link</a></td>
                <% } %>
                
                <td id="courseTitle-<%= i %>"><%= userMaterial.courseTitle %></td>
                <td id="author-<%= i %>"><%= userMaterial.author %></td>
                <td id="publisher-<%= i %>"><%= userMaterial.publisher %></td>
                <td id="publishYear-<%= i %>"><%= userMaterial.publishYear %></td>
              </tr>
            <% }
            } 
            %>
          </tbody>
        </table>
      </div>
    </section>
    <!-- study_material end !-->

    <!-- footer section  start -->
    <%- include('../general/footer.ejs') %>;
    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/userPages/material.js"></script>
  </body>
</html>
