<%- include('../general/headerUser') %>;
<!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <section class="registration" id="registration">
      <h1 class="header_section">Section God</h1>
      <div class="search_registration">
        <div class="search_registration-selection">
          <div class="icon_search-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput"
          onkeyup="myFunction()"
          placeholder="Search course...."
        />
      </div>
      <div class="registration_table_data">
        <table id="myTable_data">
          <thead>
            <tr class="header">
              <th>CourseId</th>
              <th style="width: 30%;">Course</th>
              <th>Credit</th>
              <th>Detail</th>
              <th>Day</th>
              <th>Teacher</th>
              <th>Room</th>
              <th>Register</th>
            </tr>
          </thead>
          <tbody>
            <%
            let index = 0;
            for(section of userSections.data){ 
            %>
            <tr>
              <td><%= section.courseID %></td>
              <td><%= section.title %></td>
              <td><%= section.credits %></td>
              <td><%= section.start %>-<%= section.end %></td>
              <td><%= DAY[section.day] %></td>
              <td><%= section.name %></td>
              <td><%= section.location %></td>
              <td>
                <input type="checkbox" onchange="addToPrepareList(<%= index %>, this)"/>
              </td>
            </tr>
            <% 
            index += 1;
            } 
            %>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button class="button" onclick="sendToTakes()">Save</button>
        <h1>Registered sections</h1>
      </div>
      <!-- button save -->

      <!-- danh sach mon da dang ki -->
      <div class="course_list_registration">
        <table id="course_list">
          <thead>
            <tr>
              <th>CourseId</th>
              <th>Course</th>
              <th>Credit</th>
              <th>Detail</th>
              <th>Day</th>
              <th>Teacher</th>
              <th>Room</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% 
            index = 0;
            for(subject of userTakes.data){ 
            %>
            <tr>
              <td><%= subject.courseID %></td>
              <td><%= subject.title %></td>
              <td><%= subject.credits %></td>
              <td><%= subject.start %>-<%= subject.end %></td>
              <td><%= DAY[subject.day] %></td>
              <td><%= subject.name %></td>
              <td><%= subject.location %></td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash" onclick="deleteSubjectFromTakes(<%= index %>)"></i>
              </td>
            </tr>
            <% 
            index += 1;
            } 
            %>
          </tbody>
        </table>
      </div>
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <!-- Modal_edit_registration Layout End -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->

    <!-- study_material end !-->

    <!-- footer section  start -->
    <%- include('../general/footer.ejs') %>;
    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/userPages/registration.js"></script>
    <script>
      getData(
        "<%= JSON.stringify(userSections) %>",
        "<%= JSON.stringify(userTakes) %>",
        <%= userID %>,
        "<%= JSON.stringify(DAY) %>"
         );
    </script>
  </body>
</html>
