<%- include('../general/headerUser') %>;
    <!-- Calendarsection start -->
    <section class="Calendar_section" id="Calendar_section">
      <div class="home" >
        <div class="wrapper">
          <div class="slide">
            <div class="content">
              <span></span>
              <i class="fa-solid fa-calendar-days"></i>
              <p class="btn">Class Calendar</p>
            </div>
          </div>
        </div>
      </div>

      <div class="main_table">
        <table class="schedule">
          <tr>
            <th></th>
            <th id="monday">Monday</th>
            <th id="tuseday">Tuseday</th>
            <th id="webnesday">Webnesday</th>
            <th id="thurday">Thurday</th>
            <th id="friday">Friday</th>
            <th id="saturday">Saturday</th>
            <th id="sunday">Sunday</th>
          </tr>
          <tr>
            <td>P1 (7h-7h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P2 (8h-8h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P3 (9h-9h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P4 (10h-10h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P5 (11h-11h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P6 (12h-12h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P7 (13h-13h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P8 (14h-14h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P9 (15h-15h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P10 (16h-16h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>P11 (17h-17h50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <div class="main_search_and_result_table">
          <div class="main_search">
            <div class="main_search-input-wrap" onmouseenter="enterInputField()" onmouseleave="leaveInputField()">
              <input
                type="text"
                class="main_search-input"
                placeholder="Find..."
                onkeyup="sectionSearch()"
              />
              
              <!-- Seach--history -->
              <div class="main_search-history">
                <ul class="main_search-history-list">
                  <li class="main_search-history-item">
                    <a href="#">Đại số tuyến tính</a>
                  </li>
                  <li class="main_search-history-item">
                    <a href="#">Giải tích</a>
                  </li>
                  <li class="main_search-history-item">
                    <a href="#">Toán rời rạc</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="main_search-selection"></div>
            <div class="icon_search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <h3 id="result_course_heading">Result table</h3>
          <div class="table_result_calendar">
            <table id="result_course_table">
              <thead>
                <tr>
                  <td>Course</td>
                  <td>Delete</td>
                </tr>
              </thead>
              <tbody>
                <%
                let index = 0; 
                for(subject of userSchedules.data){ 
                %>
                  <tr>
                    <td width="200px">
                      <div>Subject: <%= subject.title %></div>
                      <div>Location: <%= subject.location %></div>
                      <div>Time: <%= DAY[subject.day] %></div>
                      <div>------------------------------</div>
                    </td>
                    <td>
                      <i
                        onclick="deleteSchedue(<%= index %>)"
                        id="icon_delete_result"
                        class="fa-solid fa-trash result-subject-<%= index %>"
                      ></i>
                    </td>
                  </tr>
                <% 
                  index += 1;
                } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <button class="button" onclick="switchToTakes()">Courses from regristration</button>
      </div>
    </section>
    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->

    <!-- study_material end !-->

    <!-- footer section  start -->
    <%- include('../general/footer.ejs') %>;
    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/userPages/schedule.js"></script>
    <script>
      getData(
        "<%= JSON.stringify(userSchedules) %>",
        "<%= JSON.stringify(userSections) %>",
        "<%= JSON.stringify(userTakes) %>",
        <%= userID %>,
        "<%= JSON.stringify(DAY) %>"
         );
      showSchedule();
    </script>
  </body>
</html>
